<h1>Lets track that bread you get!</h1>

<div class="balance-amount">
  <% balance = 1000  %>
  <% for transaction in @transactions  %>
  <% balance -= transaction.amount.to_f %>
  <% end %>
  <%= balance.round(2) %>
</div>

<div class="btn--wrapper">
  <a class ="btn btn--action" href="/transactions/new">New Transaction</a>
</div>
<div class="dropdown">
  <button class="dropbtn">Sort by</button>
  <div class = "dropdown-content">
    <a href="transactions/tag">Tag</a>
    <a href="transactions/merchant">Merchant</a>
    <a href="transactions/date">Date</a>
  </div>
</div>

<label>
  <form action="/transactions/filter-merchant" method="post">
  Filter by Merchant:
  <select name="merchant_id" id="merchant_id">
    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.merchant_name %></option>
    <% end  %>
  </select>
  <input class="bt btn--action" type='submit' value="Filter">
  </form>
</label>

<label>
  <form action="/transactions/filter-tag" method="POST">
  Filter by Tag:
  <select name="tag_id" id="">
    <% @tags.uniq! {|tag| tag.tag_name}  %>
    <% for tag in @tags %>
    <option value="<%= tag.id %>"><%= tag.tag_name %></option>
    <% end  %>
  </select>
  <input class="bt btn--action" type='submit' value="Filter">
  </form>
</label>

<label>
  <form action="/transactions/filter-date" method="POST">

  Filter by Month:
  <select name="date_of_transaction" id="">
    <% uniq = @transactions.uniq {|transaction| transaction.date}  %>
    <% for transaction in uniq %>
    <option value="<%= transaction.id %>"><%=  Date.parse(transaction.date).strftime("%B") %></option>
    <% end  %>
  </select>
  <input class="bt btn--action" type='submit' value="Filter">
</form>
</label>

<hr/>
<% for transaction in @transactions %>
<p>Merchant: <%= transaction.merchant_id%></p>
<p>Amount: <%= transaction.amount%> </p>
<p>Date: <%= transaction.date %></p>
<p>Tag: <%= transaction.tag_id %></p>

<div class="delete">
  <form action="/transactions/<%= transaction.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete"/>
  </form>
</div>
<div class="edit">
  <form action="/transactions/<%= transaction.id %>/edit">
    <button type="submit">Edit transaction</button>
  </form>
</div>
<hr/>
<% end  %>
