<h1>Lets track that bread you get!</h1>

<div class="balance-amount">
  <% balance = 1000  %>
  <% for transaction in @transactions  %>
  <% balance -= transaction.amount.to_f %>
  <% end %>
  <%= balance.round(2) %>
</div>

<div class="btn--wrapper">
<a class ="btn btn--action" href="new">New Transaction</a>
</div>
<div class="dropdown">
<button class="dropbtn">Sort by</button>
  <div class = "dropdown-content">
    <a href="tag">Tag</a>
    <a href="merchant">Merchant</a>
    <a href="date">Date</a>
  </div>
</div>
<hr/>
<% for transaction in @transactions %>
<p>Merchant: <%= transaction.merchant_id%></p>
<p>Amount: <%= transaction.amount%> </p>
<p>Date: <%= transaction.date %></p>
<p>Tag: <%= transaction.tag_id %></p>

<div class="delete">
  <form action="/transactions/<%= transaction.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete"/>
  </form>
</div>
<div class="edit">
  <form action="/transactions/<%= transaction.id %>/edit">
    <button type="submit">Edit transaction</button>
  </form>
</div>

<hr/>

<% end  %>
